
<div>
  <h1 style="text-align: center">Sign-up</h1>
</div>

<div>
  <h4 style="text-align: center">アカウント作成すると名前や学籍番号が自動で入力されます！！</h1>
</div>

<%=form_tag("/users/signup")do %>
  <div class = form_content>
    <label>名前：<input name="name"></label>
  </div>
  <div class = form_content>
    <label>学部：<input name="faculty"></label>
  </div>
  <div class = form_content>
    <label>学科、プログラム：<input name="school_program"></label>
  </div>
  <div class = form_content>
    <label>学年：<input name="grate"></label>
  </div>
  <div class = form_content>
    <label>学籍番号：<input name="school_number"></label>
  </div>
  <div class = form_content>
    <label>メールアドレス：<input name="email"></label>
  </div>
  <div class = form_content>
    <label>パスワード<input type="password" name="password"></label>
  </div>
  <div class = form_content>
    <input type="submit">
  </div>
<%end%>